.container-fuild{
  background: url("../images/background-body.png");
  min-height: 500px;
  overflow: hidden;
  font-family: $roboto-condensed-bold;
  text-transform: uppercase;
}
.top{
  background: url("../images/background-top.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .logo{
    img{
      width: 150px;
    }
  }
  .sologan{
    img{
      width: 60%;
    }
  }
  .top-des{
    font-size: $font-size-subject;
  }
}
.mid-1{
  background: url("../images/background-mid.png");
  min-height: 370px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  img.coach{
    max-height: 550px;
    bottom: -200px;
    left: -50px;
  }
  .sologan{
    img{
      width: 100%;
    }
  }
}

.mid-2{
  min-height: 300px;
  img.x-factor{
    max-height: 500px;
    bottom: 0;
    left: -50px;
  }
  .sologan{
    img{
      width: 100%;
    }
  }
}
.mid-3{
  min-height: 350px;
  background: #ffffff;
  .item{
    .item-avt{
      img{
        max-width: 130%;
      }
    }
    .nhung-top{
      padding-left: 3rem;
      img{
        max-width: 110%;
      }
    }
    .thao-top{
      img{
        max-width: 120%;
      }
    }
    .item-des{
      margin-left: 30%;
      font-size: 14px;
    }
  }
}

.mid-4{
  background: url("../images/background2.png");
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  img{
    max-width: 300%;
    left: 5%;
  }
}
.mid-5{
  min-height: 150px;
  background: #ffffff;
}
.mid-6{
  min-height: 400px;
}

.mid-7{
  background: url("../images/background-mid-4.png");
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mid-8{
  background: #ffffff;
  min-height: 550px;
  .box-mid-8{
    background: #7e5e3f;
  }
}

.mid-9{
  background: url("../images/background-mid-8.png");
  //min-height: 500px;
}

footer{
  font-size: 14px;
  font-family: $font-size-content;
  color: black;
  a{
    color: black;
  }
}